@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  background-color: #023;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  width: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: auto; */
  align-items: center;
}

h1 {
  color: #0066FF;
  font-size: 3em;
  letter-spacing: 5px;
  transition: .75s;
}

.start {
  letter-spacing: 10px;
  transition: .75s;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 30em;
  outline: none;
  border-radius: 10px;
  padding: .80em 1.75em;
  background-color: #002233;
  border: 1px solid gray;
  color: white;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 1.3em;
  text-decoration: none;
  background-color: #0066FF;
}

.button {
  background-color: #002233;
  color: #0066FF;
}

.button:hover {
  background-color: #0066FF;
  color: #002233;
  transition: cubic-bezier(0.55, 0.085, 0.68, 0.53)s;
}

.input {
  display: flex;
  flex-direction: column;
}

input:focus {
  border: 1px solid #0066FF;
}

label {
  position: absolute;
  font-size: .8em;
  padding: .3em 0 0 .7em;
  color: gray;
  margin-left: .5em;
}

input:focus~label,
input:valid~label {
  color: #0066FF;
  padding: 0 .5em;
  transform: translateX(10px) translateY(-10px);
  background-color: #002233;
  letter-spacing: .1em;
  transition: .5s;
  border-left: 1px solid #0066FF;
  border-right: 1px solid #0066FF;
}

a {
  text-decoration: none;
  color: #0066FF;
  font-size: 1.4em;
}

button:nth-child(2) {
  background: none;
}

@media only screen and (max-width:600px) {
  
  input {
    width: 35em;
  }

}